 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>{{ "À PROPOS DE CLEANTHIS"|trans}}</h6>
            <p class="text-justify"><i>CleanThis</i> {{ "est une entreprise de nettoyage dévouée à fournir des services de nettoyage de haute qualité pour les entreprises et les particuliers. Notre objectif est de rendre votre environnement propre et sain, en utilisant des méthodes et des produits respectueux de l'environnement."|trans}}</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>{{ "Categories"|trans}}</h6>
            <ul class="footer-links">
              <li><a href="">#</a></li>
              <li><a href="">#</a></li>
              <li><a href="">#</a></li>
              <li><a href="">#</a></li>
              <li><a href="">#</a></li>
              <li><a href="">#</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>{{ "Liens"|trans}}</h6>
            <ul class="footer-links">
              <li><a href="">{{ "À propos"|trans}}</a></li>
              <li><a href="">{{ "Contact"|trans}}</a></li>
              <li><a href="">{{ "Conditions d'utilisations"|trans}}</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 {{ "Tous droits réservés"|trans}}
         <a href="#">CleanThis</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>