 <header class="site-header">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        
                      <p class="d-flex me-4 mb-0">
                        
             Services de Nettoyage Non-Stop!
                        </p>

                        <p class="d-flex d-lg-block d-md-block d-none me-4 mb-0">
                           <strong > 24h/24 - 7J/7J </strong >
                        </p>

                        <p class="site-header-icon-wrap text-black d-flex mb-0 ms-auto">
                            <i class="site-header-icon bi-whatsapp me-2"></i>

                            <a href="tel: 110-220-9800" class="text-black">
                                Tel: 06 09 09 09 09
                            </a></strong>
                        </p>
                    </div>

                </div>
            </div>
        </header>

  <div class="header-content">
    <div class="left-content">
      <img src="{{ asset('images/cleanThis.png') }}" alt="CleanThis">
    </div>
    <div class="right-content">
      <a href="http://127.0.0.1:8000/login" class="btn btn-primary">Demande de devis</a>
      <a href="http://127.0.0.1:8000/login" class="btn btn-primary">Se connecter</a>
    </div>
  </div>


<nav>
  <ul class="nav-content">
    <li><a href="{{ path('accueil') }}" class="active">Accueil</a></li>
    <li><a href="{{ path('services') }}">Nos services</a></li>
    <li><a href="{{ path('equipe') }}">Notre équipe</a></li>
    <li><a href="{{ path('contact') }}">Contact</a></li>
    <li><a href="{{ path('recrutement') }}">Recrutement</a></li>
  </ul>
</nav>
