<header>
  <div class="header-content">
    <div class="left-content">
      <img src="{{ asset('images/cleanThis.png') }}" alt="CleanThis">
    </div>
    <div class="right-content">
      <button>{{ "Demande de devis"|trans}}</button>
      <button>{{ "Se connecter"|trans}}</button>
    </div>
		{% for locale in locales %}
		{% if locale != app.request.locale %}

    			<a href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{ asset('images/'~locale~'.png') }}" alt="{{locale}}"></a>

		{% endif %}
	{% endfor %}
  </div>


</header>

<nav>
  <ul class="nav-content">
    <li><a href="{{ path('accueil') }}" class="active">{{ "Accueil"|trans}}</a></li>
    <li><a href="{{ path('services') }}">{{ "Nos services"|trans}}</a></li>
    <li><a href="{{ path('equipe') }}">{{ "Notre équipe"|trans}}</a></li>
    <li><a href="{{ path('contact') }}">{{ "Contact"|trans}}</a></li>
    <li><a href="{{ path('recrutement') }}">{{ "Recrutement"|trans}}</a></li>

  </ul>
</nav>
