<header>
  <div class="header-content">
    <div class="left-content">
      <img src="{{ asset('images/cleanThis.png') }}" alt="CleanThis">
    </div>
    <div class="right-content">
      <button>Demande de devis</button>
      <button>Se connecter</button>
    </div>
  </div>
</header>

<nav>
  <ul class="nav-content">
    <li><a href="{{ path('accueil') }}" class="active">Accueil</a></li>
    <li><a href="{{ path('services') }}">Nos services</a></li>
    <li><a href="{{ path('equipe') }}">Notre équipe</a></li>
    <li><a href="{{ path('contact') }}">Contact</a></li>
    <li><a href="{{ path('recrutement') }}">Recrutement</a></li>
  </ul>
</nav>
