<header>
  <div class="header-content">
    <div class="left-content">
      <img src="{{ asset('images/cleanThis.png') }}" alt="CleanThis">
    </div>
    <div class="right-content">
      <a href="http://127.0.0.1:8000/login" class="btn btn-primary">Demande de devis</a>
      <a href="http://127.0.0.1:8000/login" class="btn btn-primary">Se connecter</a>
    </div>
  </div>
</header>

<nav>
  <ul class="nav-content">
    <li><a href="{{ path('accueil') }}" class="active">Accueil</a></li>
    <li><a href="{{ path('services') }}">Nos services</a></li>
    <li><a href="{{ path('equipe') }}">Notre équipe</a></li>
    <li><a href="{{ path('contact') }}">Contact</a></li>
    <li><a href="{{ path('recrutement') }}">Recrutement</a></li>
  </ul>
</nav>
