
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture de l'opération</title>
    <style>
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}

.header,
.footer {
    color: #111;
    text-align: center;
    margin-bottom: 30px;
}

.header {
    margin-top: 20px;
}

.header img {
    max-height: 50px;
    margin-bottom: 10px;
}

{# TITRE ICI #}
.invoice-title {
    color: blue;
    font-weight: bold;
    margin: 10px 0;
}

.table-header {
    background-color: #f2f2f2;
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
}

.table-line {
    background-color: #fff;
    color: #111;
}

.table-footer {
    background-color: #f2f2f2;
    color: #111;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    height: 40px;
}

td {
    height: 30px;
}

.total-price {
    text-align: right;
    font-weight: bold;
}

.footer {
    font-size: 12px;
    margin-top: 50px;
}

.footer p {
    margin: 5px;
}

@media print {
    .no-print {
        display: none;
    }
}


    </style>
</head>
<body>
    <div class="header">
        <img src="cleanThis.jpeg" alt="Logo">
    </div>
    
    <h1 class="invoice-title">Facture de l'opération {{ operation.id }}</h1>
    
    <div class="invoice-info">
        <table>
            <tr>
                <th>Type d'opération:</th>
                <td>{{ operation.type }}</td>
            </tr>
            <tr>
                <th>Nom de l'opération:</th>
                <td>{{ operation.name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ operation.description }}</td>
            </tr>
            <tr>
                <th>Statut:</th>
                <td>{{ operation.status }}</td>
            </tr>
            <tr>
                <th>Adresse:</th>
                <td>{{ operation.streetope }}, {{ operation.zipcodeope }}, {{ operation.cityope }}</td>
            </tr>
            <tr>
                <th>Date de création:</th>
                <td>{{ operation.createdAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Date du RDV:</th>
                <td>{{ operation.rdvAt|date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Client:</th>
                <td>{{ operation.getCustomerFullName }}</td>
            </tr>
            <tr>
                <th>Prix:</th>
                <td>{{ operation.price }} €</td>
            </tr>
            <!-- Vous pouvez ajouter d'autres lignes ici si nécessaire -->
        </table>
    </div>
    
    <div class="total">
        Total: {{ operation.price }} €
    </div>
    
    <div class="footer">
        Merci pour votre confiance.
    </div>
</body>
</html>
