<h1>{{ "Merci de confirmer votre email!"|trans }}</h1>

<p>
    {{ "Merci de confirmer votre adresse en cliquant sur ce lien:"|trans }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ "Confirmer mon email"|trans }}</a>.
    {{ "Ce lien expirera dans"|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


