{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Inscription</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3">
                        <!--Identity-->
                        <legend>Mon identité</legend>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.firstname) }}
                    </fieldset>

                        <!--Coordonates-->
                    <fieldset class="mb-3">
                        <legend>Mes coordonnées</legend>
                        {{ form_row(registrationForm.zipcode) }}
                        {{ form_row(registrationForm.city) }}
                        {{ form_row(registrationForm.street) }}
                        {{ form_row(registrationForm.phone) }}
                    </fieldset>

                        <!--Password & RGPD-->
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.rgpdConsent, {
                        attr : {'class' : 'RGPD'} 
                    }) }}

                    <button type="submit" class="btn btn-primary btn-lg my-3">S'enregistrer</button>
                {{ form_end(registrationForm) }}        
        </div>
    </div>
</section>
    
{% endblock %}
