{% extends '@EasyAdmin/layout.html.twig' %}


{% block title %}{{ "Statistiques"|trans }}{% endblock %}

{% block body %}


    <div style="margin-bottom: 20px;">
        <h1 style="margin-bottom: 10px;">{{ "Statistiques"|trans }}</h1>
        <div style="margin-bottom: 10px;">
            <label for="chartTypeGraph">{{ "Choisir le type de graphique :"|trans }}</label>
            <select id="chartTypeGraph" onchange="changeChartType()">
                <option value="pie">{{ "Camembert"|trans }}</option>
                <option value="bar">{{ "Barre"|trans }}</option>
                <option value="doughnut">{{ "Donuts"|trans }}</option>
            </select>
        </div>

        <div style="margin-bottom: 10px;">
            <label for="chartType">{{ "Choisir le type de statistique :"|trans }}</label>
            <select id="chartType" onchange="changeChartType()">
                <option value="operations">{{ "Ventes par type d'opération"|trans }}</option>
                <option value="salaries">{{ "Missions par salarié"|trans }}</option>
                <option value="salariePlusDeMissions">{{ "Salarié avec le plus de missions"|trans }}</option>
                <option value="chiffreAffaires">{{ "Chiffre d'affaires total"|trans }}</option>
                <option value="chiffreAffairesParDate">{{ "Chiffre d'affaires par date"|trans }}</option>
            </select>
        </div>
    </div>
    
    <!-- Conteneur pour le Graphique -->
    <div id="chartContainer" style="width: 30%; margin: auto;">
        <h2 id="chartTitle" style="margin-bottom: 10px;">Chiffre d'affaires par date</h2>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart;

    function createChart(data, chartType) {
        if (myChart) {
            myChart.destroy();
        }

        myChart = new Chart(ctx, {
            type: chartType,
            data: data,
            options: {
                responsive: true,
                legend: {
                    display: chartType !== 'line',
                    position: 'top',
                },
                scales: chartType !== 'pie' && chartType !== 'doughnut' ? {
                    yAxes: [{ 
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                } : {}
            }
        });
    }

    function changeChartType() {
        var chartTypeGraph = document.getElementById('chartTypeGraph').value;
        var chartType = document.getElementById('chartType').value;
        var data;

        switch (chartType) {
            case 'operations':
            data = {
                labels: [{% for stat in statistiquesOperations %}"{{ stat.type }}", {% endfor %}],
                datasets: [{
                    label: 'Nombre d\'opérations',
                    data: [{% for stat in statistiquesOperations %}{{ stat.numOperations }}, {% endfor %}],
                    backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
                    borderColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
                    borderWidth: 1
                }]
            };
            break;
            case 'salaries':
               var labels = [];
               var dataValues = [];
               {% for stat in statistiquesSalaries %}
                   labels.push("{{ stat.name }}");
                   dataValues.push({{ stat.numMissions }});
               {% else %}
                   labels.push("Aucun Salarié");
                   dataValues.push(0);
               {% endfor %}

               data = {
                   labels: labels,
                   datasets: [{
                       label: 'Nombre de missions',
                       data: dataValues,
                       backgroundColor: ['rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
                       borderColor: ['rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'],
                       borderWidth: 1
                   }]
               };
               break;

            case 'chiffreAffaires':
                var labels = [];
                var salesData = [];
                {% for sale in chiffreAffairesParDate %}
                    labels.push("{{ sale.monthYear }}");
                    salesData.push({{ sale.totalSales }});
                {% endfor %}
                data = {
                    labels: labels,
                    datasets: [{
                        label: 'Chiffre d\'affaires par mois (€)',
                        data: salesData,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                };
    break;
            default:
                data = {};
        }

        createChart(data, chartTypeGraph);
        document.getElementById('chartTitle').innerText = getTitleText(chartType);
    }

    function getTitleText(chartType) {
        switch (chartType) {
            case 'operations':
                return 'Ventes par Type d\'Opération';
            case 'salaries':
                return 'Missions par Salarié';
            case 'chiffreAffaires':
                return 'Chiffre d\'Affaires par Date';
            default:
                return 'Statistiques';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        changeChartType();
    });
</script>
{% endblock %}
