{% extends 'base.html.twig' %}

{% block title %}{{ "Statistiques"|trans }}{% endblock %}

{% block body %}


    <div style="margin-bottom: 20px;">
        <h1 style="margin-bottom: 10px;">{{ "Statistiques"|trans }}</h1>
        <div style="margin-bottom: 10px;">
            <label for="chartTypeGraph">{{ "Choisir le type de graphique :"|trans }}</label>
            <select id="chartTypeGraph" onchange="changeChartType()">
                <option value="pie">{{ "Camembert"|trans }}</option>
                <option value="bar">{{ "Barre"|trans }}</option>
                <option value="doughnut">{{ "Donuts"|trans }}</option>
            </select>
        </div>

        <div style="margin-bottom: 10px;">
            <label for="chartType">{{ "Choisir le type de statistique :"|trans }}</label>
            <select id="chartType" onchange="changeChartType()">
                <option value="operations">{{ "Ventes par type d'opération"|trans }}</option>
                <option value="salaries">{{ "Missions par salarié"|trans }}</option>
                <option value="salariePlusDeMissions">{{ "Salarié avec le plus de missions"|trans }}</option>
                <option value="chiffreAffaires">{{ "Chiffre d'affaires total"|trans }}</option>
                <option value="chiffreAffairesParDate">{{ "Chiffre d'affaires par date"|trans }}</option>
            </select>
        </div>
    </div>

    <div id="chartContainer" style="width: 70%; margin: auto;">
        <h2 id="chartTitle" style="margin-bottom: 10px;"></h2>
        <canvas id="myChart"></canvas>
    </div>

    <!-- JavaScript pour la génération des graphiques et le changement de type -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart;

        function createChart(data, chartType) {
            if (myChart) {
                myChart.destroy();
            }
            
            myChart = new Chart(ctx, {
                type: chartType,
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: 'top', // Légende au-dessus du titre
                    },
                    title: {
                        display: true,
                        text: getTitleText(),
                        padding: 20 // Ajouter un espace entre le titre et le graphique
                    }
                }
            });
        }

        function getTitleText() {
            var chartType = document.getElementById('chartType').value;
            var titleText = '';
            switch (chartType) {
                case 'operations':
                    titleText = 'Répartition des ventes par type d\'opération';
                    break;
                case 'salaries':
                    titleText = 'Répartition des missions par salarié';
                    break;
                // Ajoutez les autres cas ici
            }
            return titleText;
        }

        function changeChartType() {
            var chartType = document.getElementById('chartType').value;
            var chartTypeGraph = document.getElementById('chartTypeGraph').value;
            var data;

            switch (chartType) {
                case 'operations':
                    data = {
                        labels: [{% for stat in statistiquesOperations %}"{{ stat.type }}", {% endfor %}],
                        datasets: [{
                            label: 'Nombre de ventes',
                            data: [{% for stat in statistiquesOperations %}{{ stat.numOperations }}, {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                            ],
                            borderWidth: 1
                        }]
                    };
                    break;
                case 'salaries':
                    data = {
                        labels: [{% for stat in statistiquesSalaries %}"{{ stat.name }}", {% endfor %}],
                        datasets: [{
                            label: 'Nombre de missions',
                            data: [{% for stat in statistiquesSalaries %}{{ stat.numMissions }}, {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                            ],
                            borderWidth: 1
                        }]
                    };
                    break;
                // Ajoutez les autres cas ici
            }

            createChart(data, chartTypeGraph);
            document.getElementById('chartTitle').innerText = getTitleText(); // Mettre à jour le titre
        }

        // Initialiser le graphique avec le type par défaut
        changeChartType();
    </script>
{% endblock %}
