<h1>{{ "Création de votre compte"|trans}}</h1>

<p>{{ "Bonjour"|trans}}</p>

<p>{{ "Merci pour votre message !"|trans}}
    <br>{{ "Merci de bien vouloir vous créer un compte en cliquant sur le lien suivant : "|trans}} <a href="{{ registrationLink }}">{{ "Création de compte"|trans }}</a>
    <br>{{ "Ce lien est valable une heure"|trans }}
    <br>{{ "A très vite ! L'équipe CleanThis"|trans}}
</p>

