<p>{{ "Bonjour"|trans}} {{ user.firstname }} {{ user.name }}</p>

<p>{{ "Votre opération a été bien été crée ! Celle-ci est en attente de validation par notre équipe"|trans }}</p>
<br>
<p>{{ "Un email vous sera envoyé lors de l'acceptation ou le refus de celle-ci"|trans}}</p>
<p>{{ "L'équipe de CleanThis"|trans}}</p>