<p>{{ "Bonjour"|trans}} {{ user.firstname }} {{ user.name }}</p>

<p>{{ "Votre opération a malheureusement été refusée. Retrouvez les détails de celle-ci sur votre espace personnel"|trans }}</p>
<br>
<p>{{ "Si vous n'êtes pas à l'origine de cette demande, merci de nous contacter"|trans}}</p>
<p>{{ "L'équipe de CleanThis"|trans}}</p>