<p>{{ "Bonjour"|trans}} {{ user.firstname }} {{ user.name }}</p>

<p>{{ "Votre opération est maintenant terminée ! Retrouvez les détails de celle-ci, ainsi que votre
facture sur votre espace personnel"|trans }}</p>
<br>
<p>{{ "L'équipe de CleanThis vous remercie pour votre confiance!"|trans}}</p>