<p>{{ "Bonjour"|trans}} {{ user.firstname }} {{ user.name }}</p>

<p>{{ "Pour votre demande de réinitialisation de mot de passe, veuillez
cliquer sur le lien suivant :"|trans}} <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<br>
<p>{{ "Si vous n'êtes pas à l'origine de votre demande, merci de nous contacter"|trans}}</p>