<h1>{{ "Création de votre compte"|trans}}</h1>

<p>{{ "Bonjour"|trans}} {{ user.firstname }}</p>

<p>{{ "La création de votre compte est maintenant terminé !"|trans}}
    <br>{{ "Merci de bien vouloir vous"|trans}} <a href="https://127.0.0.1:8000/login">{{ "connecter"|trans}}</a> {{ "à votre compte"|trans}}
</p>

